body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F0F0F0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.smalltxt {
  font-size: 0.5em;
}

textarea {
  margin-top: 10px;
  margin-left: 50px;
  width: 500px;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.container {
  margin: 50px 100px 200px 200px;
}

.header, .output {
  margin-top: 100px
}

.missing-img {
  color: red;
  font-size: 1.5em;
}

/* https://stackoverflow.com/a/48391614
  for details on making two columns, one fixed
  and one scrollable
*/

.col1, .col2 {
  height: 100%;
  width: 50%;
}

.col1 {
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
}

.col2 {
  margin-left: 50%;
  overflow: auto;
}

.popup {
  padding: 15px;
  padding-left: 75px;
  padding-right: 75px;
  background-color: #7bed9f;
  margin-top: 25px;
  border-radius: 10px;
}

.copy-button {
  border-radius: 10px;
  color:white;
  border: none;
  font-size: 1em;
  padding: 15px;
  background-color: #70a1ff;
  margin-top: 10px;
  margin-bottom: 15px;
}

.copy-button:hover {
  background-color: #1e90ff;
  cursor: pointer;
}

.delete-button {
  border-radius: 10px;
  border: none;
  padding: 5px;
}

.delete-button:hover {
  cursor: pointer;
  background-color: #a4b0be;
}

*:disabled {
  background-color: #747d8c
}

*:disabled:hover {
  background-color: #747d8c;
  cursor: not-allowed;
}